<button (click)="onClose()" class="close-button">&times;</button>
<div class="user-health-info">
    <div class="info-item"><span class="label">Weight:</span> {{ data.weight }} kg</div>
    <div class="info-item"><span class="label">Height:</span> {{ data.height }} cm</div>
    <div class="info-item"><span class="label">DOB:</span> {{ data.dob }}</div>
    <div class="info-item"><span class="label">Gender:</span> {{ data.gender }}</div>
    <div class="info-item"><span class="label">Blood Group:</span> {{ data.bloodGroup }}</div>
    <div class="info-item"><span class="label">Fitness Goals:</span> {{ data.fitnessGoals }}</div>
  </div>
  