<footer>

    <div class="footer-container">
        <div class="footer-containt">

            <div class="right-container">
                <div>
                    <div class="logo">
                        <img src="/assets/images/Imagelogo.png" alt="logo">
                    </div>
                    <div class="input-field">
                        <div class="input-field-title">
                            <p>We would love to hear from you!</p>
                        </div>
                        <div class="input-field-flex">
                            <input type="text" placeholder="Name">
                            <input type="email" placeholder="Email ID">
                        </div>
                        <div class="input-field-grid">
                            <input type="text" placeholder="Enter your Message">
                            <button type="button">Get Started</button>
                        </div>
                    </div>
                    <div class="location">
                        <p>123 Park Avnue,Suite 456 , New York,NY 10023</p>
                    </div>
                </div>
                <div>
                    <div class="footer-service">Cities</div>
                    <ul>
                        <li>New York</li>
                        <li>kansas </li>
                    </ul>
                </div>
                <div>
                    <div class="footer-service">Company</div>
                    <ul>
                        <li (click)="goToPage('privacy')">Privacy policy</li>
                        <li (click)="goToPage('terms')">Terms and conditions</li>
                        <li (click)="goToPage('legal')">Legal notice</li>
                        <li>Accessiblity</li>
                    </ul>
                </div>
                <div>
                    <div class="footer-service">Services</div>
                    <ul>
                        <li (click)="goToPage('booking')">Airport Tranfer</li>
                        <li (click)="goToPage('booking')">Hourly Charter Transfer</li>
                        <li (click)="goToPage('booking')">Group and Events Transfer </li>
                        <li (click)="goToPage('booking')">Private Transfer </li>
                        <li (click)="goToPage('booking')">City Tour Transfer </li>
                        <li (click)="goToPage('booking')">Point to Point Transfer </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights">All rights reserved- Lryde Chauffeur Services</div>
</footer>