
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.sign-up{
    background-color: white;
    background: url('/assets/images/login-bg.png') no-repeat center center;
    width: 100%;
    background-size: cover;
    height: 40vh;
    position: relative;
    // border: 3px solid green;
    

    // blind content
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 24px;
      z-index: 0;
    //   background: #796359;

      mix-blend-mode: hue;
    }
    .sign-up-content-container{
        padding-inline: 3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        z-index: 0;
        // margin-top: 2rem;
        padding-top: 6rem;
        // height: 81vh;
        z-index: -999999999;
        .sign-up-content{
            color: white;
        }
        .welcome-page{
            color: var(--Primary-Light, #F0EEED);
            text-align: center;
            text-shadow: 3px 6px 12.9px #000;
            /* Heading/H1/Extra Bold */
            font-family: "Playfair Display";
            font-size: 64px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            
        }
     
        @keyframes moveUpDown {
            0%, 100% {
                cursor: pointer;
                transform: translateY(0);
            }
            50% {
                transform: translateY(-30px);
            }
        }
        
    }
    .gradient-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        // top: 2rem;
        right: 0;
        height: 10vh;
        // border: 4px solid red;
        // background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%)
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #111111 100%);
        // background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f0f0f0 100%);
    }

}
.other-else{
    background-color: var(--bg-color);
    height: 55vh;
    bottom: 0px;
    text-align: center;
    z-index: 9999;
    .login-signup{
        display: flex;
        justify-content: space-between;
        // width: 300px;
        margin-inline:auto;
        flex-direction: column;
        align-items: center;
        
        .next-page-login {
            color: var(--Primary-Light, #F0EEED);
            /* Heading/H3/Bold */
            font-family: "Playfair Display";
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
         
       
        }
        .next-page-signup{
            color: var(--Primary-Light, #F0EEED);
            text-align: center;
            /* Body/Body S/Medium */
            font-family: "Montserrat";
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            margin-top: 1rem;
        }
        
  
    }
    .login-form{
        width: 400px;
        margin-inline: auto;
        .Forgot-password{
            text-align: end;
            color: #6B564A;
            -webkit-text-stroke-width: 1;
            -webkit-text-stroke-color: #000;
            font-family: "Montserrat";
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            margin: 23px 0px;
            cursor: pointer;
            span{
                border-bottom: 1px solid #6B564A;
            }
        }
        .continue-button{
            width: 100%;
            background: rgba(255, 201, 120, 0.60);
            padding-top: .8rem;
            padding-bottom: .8rem;
            color:  #251E1A;
            font-family: "Montserrat";
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            border: none;
            border-radius: 8px;
            cursor: pointer ;
            // border: 3px solid red;
            z-index: 99999;

            
            
        }
        .link_to_login{
            display: flex;
            justify-content: center;
            gap: 3rem;
            margin-top: 1rem;

        }
        .continuewith{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: .5rem;
            color: #604D43;
            text-align: center;
            font-family: 'Montserrat';
            font-style: normal;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            .bordercontent{
                // height: 10px;
                width: 120px;
                color: white;
                border: 2px solid #604D43;
            }

        }
    }

   
    .input-field{
        display: flex;
        align-items: center;
        margin-inline: auto;
        // border: 4px solid red;
        justify-content: center;
        
        position: relative;
        width: 100%;
        height: 50px;
        margin: 23px 0;
        background: #302721;
        height: 46px;
        // padding: 12px 24px;
        border-radius: 8px;
        box-shadow: 0px 4px 13.8px 0px rgba(0, 0, 0, 0.05) inset;

        input{
            background: transparent;
            border: none;
            color: #fff;
            position: relative;
            border: none;
            height: 20px;
            width: 275px;
            border-left: 2px solid #6B564A;
            padding-left: 2rem;
            color: #6B564A;
            font-size: 14px;
            font-weight: 600;
            font-family: "Montserrat";
            background: #302721;
            cursor: pointer;
            &::placeholder{
                color:  #6B564A;
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;

                margin-bottom: 3px;
            }
        }

        img {
            position: absolute;
            left: 1.3rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2rem;
            object-fit: contain;
            width:25px;
            cursor: pointer;
          }
    }
   
}
.welcome-profile{
    .profile-contianer{
        .card1{
            z-index: 99;
            color: white;
            position: absolute;
            bottom: 2rem;
            left: 70%;
            background: rgba(107, 86, 74, 0.34);
            border: 1px solid  #6B564A;
            width: 250px;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-radius: 12px;
            display: flex;
            align-items: center;
            flex-direction: column;
            
            img{
                width: 50px;
            }
            p{
                color:  #F0EEED;
                    text-align: center;
                    /* Heading/H4/Bold */
                    font-family: "Playfair Display";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: capitalize;
            }
            transform: translate(-50%, -50%);
        }
        .card2{
            z-index: 99;
            color: white;
            position: absolute;
            bottom: 2rem;
            left: 50%;
            background: rgba(107, 86, 74, 0.34);
            border: 1px solid  #6B564A;
            width: 250px;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-radius: 12px;
            display: flex;
            align-items: center;
            flex-direction: column;
            img{
                width: 50px;
            }
            p{
                color:  #F0EEED;
                    text-align: center;
                    /* Heading/H4/Bold */
                    font-family: "Playfair Display";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: capitalize;
            }
            
            
            transform: translate(-50%, -50%);
        }
        .card3{
            z-index: 99;
            color: white;
            position: absolute;
            bottom: 2rem;
            left: 30%;
            border: 1px solid  #6B564A;
            background: rgba(107, 86, 74, 0.34);
            width: 250px;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-radius: 12px;
            display: flex;
            align-items: center;
            flex-direction: column;
            img{
                width: 50px;
            }
            p{
                color:  #F0EEED;
                    text-align: center;
                    /* Heading/H4/Bold */
                    font-family: "Playfair Display";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: capitalize;
            }
            
            transform: translate(-50%, -50%);
        }
    }
}
@media screen and (max-width: 480px){
    .sign-up{
        .sign-up-content-container{
            .welcome-page{
                font-size: 28px;
            }
            .sign-up-content{
                text-align: center;
                margin-top: 1rem;
            }
        }
    }
    .other-else{
        z-index: 9999;
        .login-form{
            width: 360px;
        }
        .input-field{
            input{
                width: 238px;

            }
        }
        .login-signup{
            .next-page-login{
                font-size: 24px;
            }
        }
    }
}
@media screen and (max-width: 390px){
    .sign-up{
        .sign-up-content-container{
            .welcome-page{
                font-size: 28px;
            }
            .sign-up-content{
                text-align: center;
                margin-top: 1rem;
            }
        }
    }
    .other-else{
        .login-form{
            width: 300px;
        }
        .input-field{
            input{
                width: 163px;

            }
        }
    }
}

