<!-- signup -->
<div *ngIf="condition; else elseBlock">

    <div class="sign-up" >
        <div class="sign-up-content-container">
            <p class="welcome-page">
                Welcome Back !
            </p>
            <p class="sign-up-content">
                Login to your account to book your favourite fleet
            </p>
            <div class="gradient-overlay"></div>
        </div>
    </div>
    <div class="other-else">
        <div class="login-form">
            <div class="login-signup next-page-click-up">
                <p class="next-page-login">Enter Email ID</p>
                <div class="next-page-signup">Enter valid Email ID to recieve OTP </div>
            </div>
            <div class="input-field">
                <img src="/assets/images/massageimg.png" alt="">
                <input type="text" placeholder="Enter Email" [(ngModel)]="email">
        </div>
            <div class="Forgot-password" (click)="goToLogin()"> Already Have An Account ? <span></span></div>
            <button class="continue-button" (click)="verifyForgotPassEmail()">Continue</button>
        </div>
        
    </div>
</div>

<!-- signup -->
<ng-template #elseBlock>
 <div class="sign-up" >
        <div class="sign-up-content-container">
            <p class="welcome-page">
                Welcome Back !
            </p>
            <p class="sign-up-content">
                Login to your account to book your favourite fleet
            </p>
            <div class="gradient-overlay"></div>
        </div>
    </div>
    <div class="other-else">
        <div class="login-form">
            <div class="login-signup next-page-click-up">
                <p class="next-page-login">Enter New Password</p>
                <div class="next-page-signup">At least 8 characters long, lower case letters, numbers, Uses special characters (e.g., !, @, #, $) </div>
            </div>
            <div class="input-field">
                <img   src="/assets/images/Outlined.png" alt="">
                <input type="password" placeholder="Enter Password" [(ngModel)]="newPassword">
            </div>
            <div class="input-field">
                <img   src="/assets/images/Outlined.png" alt="">
                <input type="password" placeholder="Re- Enter Password" [(ngModel)]="newCpassword">
            </div>
            <div class="Forgot-password"> Already Have An Account ? <span></span></div>
            <button class="continue-button" (click)="resetPassword()">Continue</button>
        </div>
        
    </div>

    
  </ng-template>
