<div class="user-class-dialog">
	<div class="dialog-content">
	  <h2>Assigned Classes</h2>
  
	  <div *ngIf="userClasses.length > 0; else noClasses">
		<div class="class-scroll-box">
		  <div class="class-card" *ngFor="let cls of userClasses">
			<div class="class-title">{{ cls.class_name }}</div>
			<div class="class-time">({{ cls.end_time }} - {{ cls.start_time }})</div>
		  </div>
		</div>
	  </div>
  
	  <ng-template #noClasses>
		<p>No classes assigned.</p>
	  </ng-template>
  
	  <button class="close-btn" (click)="closeUserDialog()">Close</button>
	</div>
  </div>
  