::-webkit-scrollbar {
    display: none;
  }
  ::ng-deep .mat-mdc-raised-button:not(:disabled){
    background-color: #6b2234 !important;
  }
  
  .success-message {
    color: green;
  }
  
  .error-message {
    color: red;
   
  }
  .error{
    color: red;
    margin-left: 5px;
    font-size: 12px;
    position: absolute;
    margin-top: 50px;
  }
  .main-container {
    display: flex;
    height: 100vh;
    background: rgba(44, 37, 32, 0.81);
    overflow: hidden;

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      height: 90%;
      width: 100%;
      gap: 2rem;
      width: 60%;
      padding: 1rem;
      // margin-top: 2rem;
  
      .card1, .card2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        background-color: #40342c;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        min-height: 350px;
        h2 {
          text-align: center;
          font-size: 1.8rem;
          color: white;
          margin-bottom: 1.5rem;
        }
        .responsive-btn {
            width: 30%;
          }
      }

      .searchbtn{
        background-color: black;

      }
  
      .card1 {
        .Employee-info-id {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          .skip-device{
            color: white;cursor: pointer;
        }
          .form-group {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            // gap: 1rem;
            label {
              font-size: 1rem;
              font-weight: 600;
              color: #555;
              margin-bottom: .8rem;
            }
  
            input {
              padding: 0.85rem 1rem;
              font-size: 1rem;
              border: 1px solid #ccc;
              border-radius: 5px;
              outline: none;
              transition: box-shadow 0.3s ease;
              background-color: #dedddc;
  
              &:focus {
                border-color: #007bff;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
              }
  
              &[id="endTime"] {
                background-color: #e9ecef;
                color: #888;
                cursor: not-allowed;
              }
            }
          }
  
          button {
            padding: 0.75rem;
            font-size: 1rem;
            font-weight: 600;
            color: #fff;
            background: black;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s ease;
  
            &:hover {
              background: #0056b3;
            }
  
            &:disabled {
              background: #bdbdbd;
              cursor: not-allowed;
            }
          }
        }
      }
      
      .card2 {
        .remaining-time-container {
          text-align: center;
          background-color: #ffffff;
          padding: 1.5rem;
          border-radius: 8px;
          //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
          .header {
           // margin-bottom: 1rem;
  
            h2 {
              font-size: 1.8rem;
              color: #333;
            }
  
            p {
              font-size: 2.2rem;
              color: #3c1c11;
              font-weight: 600;
            }
          }
  
          .employee-info {
            background: #ffffff;
            //padding: 1rem;
            border-radius: 8px;
            //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            
            flex-direction: column;
  
            p {
              //margin-bottom: 1rem;
              font-size:1rem;
              color: #555;
              text-align: start;
              font-weight: 600;
            }
  
            .amount-field {
              //margin-bottom: 1rem;
  
              input {
                // padding: 0.75rem;
                font-size: 1rem;
                border: 1px solid #ccc;
                border-radius: 5px;
  
                &:focus {
                  border-color: #007bff;
                }
              }
            }
  
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.5rem;
              padding: 0.75rem;
              font-size: 1rem;
              color: #fff;
              background: #28a745;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              transition: background 0.3s ease;
  
              &:hover {
                background: #218838;
              }
  
              mat-icon {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
  
  /* Responsive Styles */
  
  /* Tablets and below */
  @media (max-width: 768px) {

    .main-container{

        .content {
          flex-direction: column;
          
          
      
          .card1, .card2 {
            width: 100%;
            .responsive-btn {
                width: 100%;  /* Adjust width on smaller screens */
              }
          }
        }
    }
  }
  
  /* Mobile Devices */
  @media (max-width: 480px) {
    .main-container{

        .content {
          .card1, .card2 {
            .responsive-btn {
                width: 100% !important;  /* Adjust width on smaller screens */
              }
      
            h2 {
              font-size: 1.5rem;
            }
      
            .remaining-time-container {
              p {
                font-size: 1.8rem;
              }
            }
          }
        }
    }
  }
  @media (max-width: 480px) {
    .main-container{

        .responsive-btn {
          width: 100%;  /* Full width on very small screens */
        }
    }
  }