::ng-deep .mat-mdc-paginator-page-size {
	display: none !important;
}

::ng-deep .mat-mdc-paginator-icon {
	fill: rgb(255 255 255) !important;
}

::ng-deep .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
	fill: rgb(181 171 171 / 65%) !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
	display: none !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
	display: none;
}

.mat-mdc-raised-button:not(:disabled) {
	background-color: white;

}

.mat-mdc-raised-button:not(:disabled) {
	background-color: white;

}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
	height: 47px;

}

::ng-deep .mat-mdc-table tbody,
.mat-mdc-table tfoot,
.mat-mdc-table thead,
.mat-mdc-cell,
.mat-mdc-footer-cell,
.mat-mdc-header-row,
.mat-mdc-row,
.mat-mdc-footer-row,
.mat-mdc-table .mat-mdc-header-cell {
	border-bottom: 2px solid #75695fd3;
}

::-webkit-scrollbar {
	display: none !important;
}

.main-container {
	height: 100vh;
	background: rgba(44, 37, 32, 0.81);
	overflow: hidden;

	.d-grid {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(4, 1fr);
		padding-block: 40px;
		gap: 20px;

		.item {
			background-color: #352924;
			height: 150px;
			padding: 20px;
			color: #fff;
			text-align: center;
			border-radius: 6px;

			p {
				font-size: 40px;
			}

			h4 {
				font-size: 16px;
				font-weight: 500;
			}
		}
	}

	.table {
		.mainHistory {
			font-size: 24px;
			color: #fff;
			font-family: "Playfair Display";
			font-weight: 500;
		}

		.header {
			margin-top: 2rem;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			// background-color: #40342c;
			border-radius: 5px;
			// padding: 1rem;
			gap: 1rem;
			margin-bottom: 2rem;

			.search-box {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				//   background-color: #111111;
				border-radius: 5px;
				// padding: 0.5rem;
				flex-grow: 1;

				.search-field {
					flex: 1;
					height: 2.5rem;
					border: 1px solid #ccc;
					border-radius: 5px;
					padding: 0.5rem;
					font-size: 1rem;
					background-color: rgba(240, 240, 240, 0.9019607843);

					&:focus {
						outline: none;
						border-color: #6200ee;
					}
				}

				.clearbtn,
				.searchbtn {
					display: flex;
					align-items: center;
					justify-content: center;
					border: none;
					cursor: pointer;
					padding: 22px;
					border-radius: 5px;

					mat-icon {
						font-size: 1.2rem;
					}
				}

				.searchbtn {
					background-color: #111111;
					color: #ffffff;
				}
			}

			mat-form-field {
				width: 100%;
				max-width: 300px;

				input {
					font-size: 1rem;
				}
			}
		}

		.table-responsive {
			overflow-x: auto;
			background: #40342c;
			border-radius: 5px;

			table {
				width: 100%;
				border-collapse: collapse;
				font-size: 14px;
				background: #40342c;

				bord th,
				td {
					padding: 12px 8px;
					text-align: start;
					white-space: nowrap;
					color: #c9bbbb;
				}

				th {
					background-color: #f0f0f0e6;
					font-weight: 500;
				}
			}

			.custom-table {
				min-width: 1200px; // Ensures the table does not shrink
				width: 100%; // Allows it to be responsive but not smaller than min-width
				border-collapse: collapse;
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
				border-radius: 8px;


				/* Set Fixed Column Widths */
				.mat-column-employee-num {
					width: 50px;
					/* Checkbox column */
				}

				.mat-column-name {
					width: 200px;
					/* Name column */
				}

				.mat-column-date {
					width: 250px;
					/* Email column */
				}

				.mat-column-status {
					width: 150px;
					/* Plan column */
				}
			}


			.table-footer {
				display: flex;
				justify-content: flex-end;
				margin-top: 1rem;

				.custom-paginator {
					display: flex;
					align-items: center;
				}
			}
		}
	}
}

// Media Query Fixes
@media screen and (max-width: 1200px) {
	.user-details-container {
		.content {
			width: 80%;
		}
	}

	.card1 {
		padding: 1rem;
	}
}

@media screen and (max-width:920px) {
	.main-container {
		.d-grid {
			width: 100%;
			grid-template-columns: repeat(2, 1fr);
		}

		.table {
			.header {
				.search-box {
					width: 100%;
				}

				mat-form-field {
					max-width: 100%;
				}

				.calendarBtn {
					width: 100%;
				}
			}
		}
	}
}