<div class="main-container">
    <!-- Content Area -->
    <div class="content" [class.full-width]="sidenavOpen === false" [class.translucent]="sidenavOpen">
      <div class="content-container">
        <div class="nav-tab-container">
          <button class="custom-btn" [ngClass]="{'active-btn': activeTab}">Create Diet</button>
          <button class="custom-btn" [ngClass]="{'active-btn': !activeTab}">View Diet Plan</button>
        </div>
  
        <div class="plans-container" *ngIf="activeTab">
          <div class="mainHistory">Diet Entry</div>
  
          <div class="diet-input-container">
       
  
            <!-- Purpose Select -->
            <div class="form-group">
              <label for="purpose">Purpose:</label>
              <mat-form-field appearance="fill">
                <mat-label>Select Purpose</mat-label>
                <mat-select [(ngModel)]="purpose" name="purpose">
                  <mat-option *ngFor="let p of purposeOptions" [value]="p">
                    {{ p }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <!-- PDF Upload -->
          <!-- PDF Upload -->
            <!-- <div class="form-group file-upload">
                <label for="pdf">Upload PDF:</label>
                <input type="file" (change)="onFileSelected($event)" accept="application/pdf" />
            </div> -->
            <input type="file" (change)="onFileSelected($event)" accept=".pdf" />
            <!-- <button (click)="uploadFile()">Upload PDF</button> -->
          </div>
  
          <!-- Submit Button -->
          <button class="custom-btn" (click)="createDiet()">Submit</button>
        </div>
      </div>
    </div>
  </div>
  