<div class="main-container">
	<div class="content" [class.full-width]="sidenavOpen === false" [class.translucent]="sidenavOpen">

		<div class="mainHistory">ALL SUBSCRIPTION REQUEST</div>

		<div class="table-responsive" [ngClass]="{ 'no-data': getRequestedUserData.data.length === 0 }">
			<div *ngIf="
			!getRequestedUserData || getRequestedUserData.data.length === 0
		  " class="no-data-message">
				No schedules found.
			</div>
			<!-- Trainer Session Schedule Table -->
			<table mat-table [dataSource]="getRequestedUserData" class="custom-table"
				*ngIf="(getRequestedUserData?.data?.length || 0) > 0">
				>
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef>Name</th>
					<td mat-cell *matCellDef="let element">{{ element.name }}</td>
				</ng-container>
				<ng-container matColumnDef="email">
					<th mat-header-cell *matHeaderCellDef>Email</th>
					<td mat-cell *matCellDef="let element">{{ element.email }}</td>
				</ng-container>

				<ng-container matColumnDef="phone">
					<th mat-header-cell *matHeaderCellDef>Number</th>
					<td mat-cell *matCellDef="let element">{{ element.phone }}</td>
				</ng-container>

				<ng-container matColumnDef="plan">
					<th mat-header-cell *matHeaderCellDef>Plan</th>
					<td mat-cell *matCellDef="let element">{{ element.plan }}</td>
				</ng-container>

				<ng-container matColumnDef="buyPlan">
					<th mat-header-cell *matHeaderCellDef>Plan</th>
					<td mat-cell *matCellDef="let element">
						<button mat-raised-button color=#fff style="color: #000; background-color: white;"
							(click)="navigate(element)" [disabled]="this.userType === 'Receptionist'">Buy
						</button>
					</td>
				</ng-container>


				<tr mat-header-row *matHeaderRowDef="requestColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: requestColumns"></tr>
			</table>
			<div class="table-footer" *ngIf="(dataSource?.data?.length || 0) > 0">
				<mat-paginator [pageSize]="6" class="custom-paginator"></mat-paginator>
			</div>
		</div>

		<!-- <div   class="pdf"> <button mat-raised-button color="primary" (click)="exportPDF()"><mat-icon>download</mat-icon> Pdf</button></div>
		 -->
	</div>
</div>